@media(max-width: 1024px) {

  #contact-google-map {
    margin-top: -70px;
  }

  .money-icon-mobile {
    position: relative;
    top: 30px;
    left: -94px;
  }

  .money-icon-text {
    position: relative;
    right: -30px;
    bottom: 30px;
  }

  .icon-mobile {
    display: block;
  }

  #minimal-bootstrap-carousel { margin-top: 90px; }

    .header-navigation {margin-bottom: 0;}
    .navbar-header {
        width: 100%;
        float: none;
        margin: 0 !important;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-toggle {
        display: block;
        margin-right: 0;
        border-color: #fff;
        background-color: transparent !important;
        margin: 23px 0;
    }
    .navbar-default .navbar-toggle:hover {border-color: #003893;}
    .navbar-default .navbar-toggle .icon-bar {background: #fff;}
    .navbar-default .navbar-toggle:hover .icon-bar {background: #003893;}
    .navbar-collapse.collapse {
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: auto!important;
        width: 100%;
    }
    .navbar-default .navbar-collapse {
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        border: 1px solid #838ca3;
        margin: 0;
        background: #2d2d2d;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        height: auto !important;
        max-height: 70vh;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    .header-navigation.navbar .nav {
        width: 100%;
        text-align: left;
    }
    .header-navigation.navbar .nav > li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }
    .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header-navigation.navbar .nav > li > a {
        padding: 8px 0;
    }
    .header-navigation.navbar .right-box.nav {
        width: 100%;
        margin: 0;
    }
    .header-navigation.navbar .right-box.nav > li > a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }
    .header-navigation.navbar .nav > li > a:after {
        display: none;
    }
    .header-navigation.navbar .nav.navigation-box + .nav {
        border-top: 1px dashed #282828;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu,
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > .sub-menu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto;
        right: auto;
        top: auto;
        transition: none;
        display: none;
        float: none;
        margin: 0;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > a::after {
        display: none;
    }
    .header-navigation.navbar .nav > li + li {
        padding: 0 !important;
        border-top: 1px solid rgba(255,255,255,.1);
        display: block;
        float: none;
    }
    .header-navigation.navbar .nav > li.show-mobile {display: none;}
    .header-navigation.navbar .nav > li > a,
    .header-navigation.navbar .right-box.nav > li > a {
        padding: 0;
        display: block;
        color: #fff;
        padding: 16px 0 16px 20px !important;
        transition: background 0.4s ease 0s;
        text-transform: capitalize;
    }
    .header .stricky-fixed.header-navigation.navbar .nav > li {
        padding: 0 !important;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;top:0;right:0;margin-top: 8px;
        margin-right: 10px;
        display: block;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 1px;
        width: 20px;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    .header .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header .header-navigation .navbar-form {width: 100%;max-width: 100%;}
    .header-navigation .thm-container {padding-right: 15px;padding-left: 15px;}
    .navbar-header {padding-right: 0px;}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler {border-color: #2D2D2D}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler .icon-bar {background-color: #2D2D2D}
    .header-navigation .thm-container .navbar-brand {padding: 25px 0;}
    .header-navigation ul.navigation-box > li:hover > a,
    .header-navigation ul.navigation-box > li.current > a {background: #003893;color: #fff;}
    .header-navigation .thm-container {padding-right: 15px;}
    .header-navigation .thm-container .navbar-header {padding-right: 195px;}
    .header-navigation .thm-container .right-side-box {top:12.5px;-webkit-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0);right: 15px;}
}

@media (max-width: 1024px) {
    img {max-width: 100%;}
    .about-section {padding-top: 80px;}
    .about-section .about-content {padding-top: 20px;padding-left: 0;}
    .about-section .about-content h3 {font-size: 42px; line-height: 43px;margin-bottom: 20px;}
    .about-section .about-content h4 {font-size: 36px; line-height: 43px;margin-bottom: 20px;}
    .mission-and-vision .mission-content {text-align: center;max-width: 660px;width: 100%;margin-left: auto;margin-right: auto;}
    .mission-and-vision .thm-progress-bar {display: block;margin-left: auto;margin-right: auto;margin-top: 50px;max-width: 540px;width: 100%;}
    .testimonials-section .single-testimonial {padding-left: 24px;padding-right: 24px;}
    .subscribe-section .form-wrap form {min-width: 570px;}
    .service-section .service-column {padding: 0;}
    .service-section .service-column img.service-featured-img {display: none;}
    .service-section {padding-bottom: 80px;padding-top: 80px;}
    .fun-fact-section {padding: 80px 0;}
    .mission-and-vision {padding: 80px 0;}
    .sec-title {margin-bottom: 50px;}
    .photo-gallery {padding-top: 80px;padding-bottom: 50px;}
    .become-investor {padding: 80px 0;}
    .team-title-section {padding-bottom: 200px;padding-top: 80px;}
    .team-memeber-section {padding-bottom: 65px;}
    .testimonials-section {padding: 80px 0; padding-bottom: 70px;}
    .subscribe-section {padding: 80px 0;}
}

@media (max-width: 991px) {
    .about-section .video-box {margin-bottom: 40px;display: block;margin-left: auto;margin-right: auto;width: 100%;max-width: 445px;}
    .about-section {padding-bottom: 80px;}
    .fun-fact-section .fun-fact-wrap {text-align: center;}
    .fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box {position: static;}
    .fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box, .fun-fact-section .fun-fact-wrap .single-fun-fact .text-box {display: inline-block;vertical-align: middle;}
    .fun-fact-section .fun-fact-wrap .single-fun-fact .text-box {padding-left: 30px;}
}
@media (max-width: 930px) {
    .cta-style-one .pull-left,
    .cta-style-one .pull-right {width: 100%;text-align: center;}
    .cta-style-one .pull-right {padding-bottom: 0;}
}
@media (max-width: 823px) {
    .about-section .video-box {margin-bottom: 45px;}
    .about-section .about-content {padding-top: 0px;padding-left: 0;padding-bottom: 0px;}
    .photo-gallery .single-gallery {width: 100%;}
    .photo-gallery .single-gallery > img {width: 100%;}

    .testimonials-section {padding-bottom: 100px;}
    .cta-style-one .pull-left,
    .cta-style-one .pull-right {width: 100%;text-align: center;}
    .subscribe-section .pull-left,
    .subscribe-section .pull-right {width: 100%;text-align: center;}
    .subscribe-section .pull-right {margin-top: 50px;}
    footer.footer .thm-container {padding-left: 20px;padding-right: 20px;}
    footer.footer .thm-container p br {display: none;}
    .subscribe-section .form-wrap form {min-width: 100%;}
}
@media (max-width: 767px) {
    .service-section .service-column img.service-featured-img {display: none;}
    .service-section .single-service .text-box {width: calc( 100% - 64px );}
    .service-section .service-left .single-service + .single-service {margin-top: 30px;}
    .service-section .service-left .single-service .icon-box {float: left;}
    .service-section .service-left .single-service .text-box {text-align: left;padding-right: 0;padding-left: 30px;float: left;}
    .service-section .service-right .single-service .text-box {float: left;}
    .service-section .service-left {padding-right: 0;margin-bottom: 30px;}
    .service-section .service-right {padding-left: 0;}
    .service-section .service-column {padding: 0;}
}
@media (max-width: 737px) {
    .cta-style-one h3 br {display: none;}
    .service-section .service-column img.service-featured-img {display: none;}
    .service-section .single-service .text-box {width: calc( 100% - 64px );}
    .service-section .service-left .single-service + .single-service {margin-top: 30px;}
    .service-section .service-left .single-service .icon-box {float: left;}
    .service-section .service-left .single-service .text-box {text-align: left;padding-right: 0;padding-left: 30px;float: left;}
    .service-section .service-right .single-service .text-box {float: left;}
    .service-section .service-left {padding-right: 0;margin-bottom: 30px;}
    .service-section .service-right {padding-left: 0;}
    .service-section .service-column {padding: 0;}
}
@media (max-width: 667px) {

}
@media (max-width: 568px) {
    .sec-title p br,
    .slider-home-one .content p br {display: none;}
    .mission-and-vision .single-progress-bar-wrap {width: 100%; height: 70px; }
    .mission-and-vision .single-progress-bar-wrap + .single-progress-bar-wrap {margin-left: 0;margin-top: 30px;}
    .mission-and-vision .single-progress-bar {transform: translateY(0px) translateX(0px) rotate(0deg);width: 100%;height: 100%;}
    .subscribe-section {padding: 70px 0;}
    footer.footer .thm-container {padding-top: 50px;padding-bottom: 50px;}
    footer.footer .thm-container ul.list-inline li + li {margin-left: 30px;}
    .cta-style-one {padding-top: 50px;padding-bottom: 40px;}
    .cta-style-one h3 {line-height: 46px; font-size: 40px;}
    .testimonials-section {padding-bottom: 70px;padding-top: 70px;}
    .sec-title {margin-bottom: 50px;}
    .team-title-section {padding-top: 70px;padding-bottom: 200px;}
    .become-investor {padding: 70px 0;}
    .photo-gallery {padding-top: 70px;padding-bottom: 40px;}
    .mission-and-vision {padding-top: 70px;padding-bottom: 70px;}
    .sec-title h2 {font-size: 47px;}
    .slider-home-one .content h2 {font-size: 50px; line-height: 65px;}
    .slider-home-one .content h2 br {display: none;}
    .about-section .video-box {width: 100%;}
    .about-section .video-box > img {width: 100%;}
    .mission-and-vision .mission-content {padding-right: 0;}
}
@media (max-width: 550px) {
    #minimal-bootstrap-carousel .custom-navigation {bottom: 0px;}
    #minimal-bootstrap-carousel .custom-navigation li {width: 20px;height: 20px;text-indent: -999px;background: #fff;border: 0px;border-radius: 50%;}
    #minimal-bootstrap-carousel .custom-navigation li + li {margin-left: 10px;}
}
@media (max-width: 480px) {
    .mission-and-vision .mission-content a.thm-btn {padding-left: 31.5px;padding-right: 31.5px;}
    .about-section .about-content {padding-bottom: 0;}
}
@media (max-width: 450px) {
    .header .pull-left,
    .header .pull-right {width: 100%;text-align: center;}
    .header-navigation .thm-container .right-side-box {display: none;}
    .header-navigation .thm-container .navbar-header {padding-right: 0;}
    .header-navigation.navbar .nav > li.show-mobile {display: block;}
}

@media (max-width: 414px) {

    .header .pull-left,
    .header .pull-right {width: 100%;text-align: center;}
    .about-section .about-content h3 {font-size: 35px;}
    .about-section .about-content h4 {font-size: 30px;}
    .service-section .single-service .icon-box {width: 100%;margin-bottom: 15px;text-align: center;}
    .service-section .single-service .text-box {width: 100%;text-align: center !important;padding-left: 0 !important; padding-right: 0 !important;}
    .fun-fact-section .fun-fact-wrap h2,
    .mission-and-vision .mission-content h3 {font-size: 30px;line-height: 40px;}
    .mission-and-vision .mission-content a.thm-btn.borderd {margin-left: 0;margin-top: 20px;}
    .subscribe-section .form-wrap form {border: none;border-radius: 0;}
    .subscribe-section .form-wrap form input {display: block;border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 30px;}
    .subscribe-section .form-wrap form button[type="submit"] {position: static;margin-top: 25px;}
}

@media (max-width: 375px) {
    .about-section .video-box .overlay .box a.video-btn {left: 20px;}
    .about-section .video-box .overlay .box .bottom-box {left: 20px;}
    .about-section .video-box .overlay .box .bottom-box h3 {font-size: 101px;}
    .sec-title h2 {font-size: 33px; }
    .header-navigation .thm-container .navbar-header {padding-right: 0;}
    .header-navigation .thm-container .right-side-box {display: none;}
}
