/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Ecogas               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. imported styles
* 2. miscelnious styles
* 3. header styles
* 4. banner styles
* 5. about styles
* 6. services styles
* 7. fun fact styles
* 8. mission and vision styles
* 9. photo gallery styles
* 10. brand styles
* 11. become investor styles
* 12. team styles
* 13. testimonials styles
* 14. cta styles
* 15. subscribe styles
* 16. footer styles
****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/
/**************************
* 1. imported styles
***************************/
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i,800,800i);
@import url(bootstrap.min.css);
@import url(bootstrap-select.min.css);
@import url(../plugins/flaticons/flaticon.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.min.css);
@import url(nouislider.css);
@import url(nouislider.pips.css);
@import url(jquery.bootstrap-touchspin.css);
@import url(magnific-popup.css);
@import url(animate.min.css);
@import url(hover-min.css);
@import url(../plugins/fontawesome-5/css/fontawesome-all.min.css);
@import url(../plugins/icofont/css/icofont.css);
/**************************
* 2. miscelnious styles
***************************/
body {
  font-family: 'Open Sans';
  color: #616277;
  font-size: 14px;
  line-height: 24px;
}

a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none !important;
}

.thm-container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.sec-pad {
  padding: 120px 0;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0 !important;
}

.gray-bg {
  background: #F4F9FD;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  margin-left: 0;
  font-size: inherit;
}

.sec-title {
  margin-bottom: 75px;
}
.sec-title.light h2 {
  color: #fff;
}
.sec-title.light p {
  color: #9696A6;
}
.sec-title.text-center .line {
  margin-left: auto;
  margin-right: auto;
}
.sec-title .line {
  width: 100px;
  height: 4px;
  background: #003893;
  display: block;
  margin-bottom: 25px;
  border-radius: 2px;
}
.sec-title h2 {
  color: #0E0F1F;
  margin: 0;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 60px;
}
.sec-title p {
  color: #616277;
  margin: 0;
  margin-top: 10px;
}

/*
****
only add this classto body
if preloader is on
other wise REMOVE IT.
****
*/
body.active-preloader-ovh {
  overflow: hidden;
}

.preloader {
  background-color: #003893;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
}
.preloader .spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* custom scroll animation */
.fadeInDownCustom {
  -webkit-animation-name: fadeInDownCustom;
  animation-name: fadeInDownCustom;
}

@-webkit-keyframes fadeInDownCustom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDownCustom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInDownCustomTwo {
  -webkit-animation-name: fadeInDownCustomTwo;
  animation-name: fadeInDownCustomTwo;
}

@-webkit-keyframes fadeInDownCustomTwo {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDownCustomTwo {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
/**************************
* 3. header styles
***************************/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .top-bar {
  background: #003893;
  padding: 13px 0;
}
.header .top-bar .left-content .social-box a {
  font-size: 14px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.header .top-bar .left-content .social-box a:hover {
  color: #0E0F1F;
}
.header .top-bar .left-content .social-box a + a {
  margin-left: 15px;
}
.header .top-bar .right-content a {
  color: #FFFFFF;
  font-family: 'Merriweather';
}
.header .top-bar .right-content a + a {
  margin-left: 20px;
}
.header .top-bar .right-content a i {
  font-size: 16px;
  margin-right: 10px;
}

.header-navigation {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.header-navigation .thm-container {
  max-width: 1110px;
  background: transparent;
  padding: 0;
  position: relative;
  padding-right: 220px;
}
.header-navigation .thm-container .navbar-brand {
  height: auto;
  padding: 42px 0;
}
.header-navigation .thm-container .main-navigation {
  text-align: right;
  padding: 0;
}
.header-navigation .thm-container .right-side-box {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-navigation .thm-container .right-side-box a {
  display: inline-block;
  border: none;
  outline: none;
  background: #003893;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  padding: 13px 52px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.header-navigation .thm-container .right-side-box a:hover {
  background: #0E0F1F;
}
.header-navigation ul.navigation-box {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.header-navigation ul.navigation-box li a .sub-nav-toggler {
  display: none;
}
.header-navigation ul.navigation-box > li {
  position: relative;
  padding: 45px 0;
}
.header-navigation ul.navigation-box > li.show-mobile {
  display: none;
}
@media (max-width: 450px) {
  .header-navigation ul.navigation-box > li.show-mobile {
    display: block;
  }
}
.header-navigation ul.navigation-box > li + li {
  margin-left: 50px;
}
.header-navigation ul.navigation-box > li.active > a,
.header-navigation ul.navigation-box > li.current > a,
.header-navigation ul.navigation-box > li > a:active,
.header-navigation ul.navigation-box > li > a:focus,
.header-navigation ul.navigation-box > li:hover > a {
  color: #003893;
}
.header-navigation ul.navigation-box > li > a {
  padding: 0;
  color: #D0D0D0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.header-navigation ul.navigation-box > li > ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 239px;
  padding: 0px 0px;
  text-align: left;
  list-style: none;
  background-color: #F4F4F6;
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease;
}
.header-navigation ul.navigation-box > li > ul.sub-menu.right-align {
  left: auto;
  right: 0;
}
.header-navigation ul.navigation-box > li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.header-navigation ul.navigation-box > li > ul.sub-menu > li {
  display: block;
  position: relative;
}
.header-navigation ul.navigation-box > li > ul.sub-menu > li > a {
  font-size: 16px;
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  padding: 8px 0;
  display: block;
  line-height: 26px;
  padding-left: 27px;
  white-space: nowrap;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.header-navigation ul.navigation-box > li > .sub-menu li + li {
  border-top: 1px solid #E2E2E2;
}
.header-navigation ul.navigation-box > li > .sub-menu li:hover > a {
  background: #6270EA;
  color: #fff;
  position: relative;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > ul.sub-menu {
  position: absolute;
  top: 0%;
  left: 100%;
  z-index: 1000;
  float: left;
  min-width: 239px;
  padding: 0px 0px;
  text-align: left;
  list-style: none;
  background-color: #F4F4F6;
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s ease, visibility .4s ease;
  transition: opacity .4s ease, visibility .4s ease;
}
.header-navigation ul.navigation-box > li > .sub-menu > li:hover > ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > ul.sub-menu > li {
  display: block;
  position: relative;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > ul.sub-menu > li > a {
  font-size: 16px;
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  padding: 8px 0;
  display: block;
  line-height: 26px;
  padding-left: 27px;
  white-space: nowrap;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > .sub-menu li + li {
  border-top: 1px solid #E2E2E2;
}
.header-navigation ul.navigation-box > li > .sub-menu > li > .sub-menu li:hover > a {
  background: #6270EA;
  color: #fff;
  position: relative;
}
.header-navigation.stricky-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #0E0F1F;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
}
.header-navigation.stricky-fixed .thm-container {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header-navigation.stricky-fixed .thm-container .navbar-brand {
  padding-top: 27px;
  padding-bottom: 27px;
}
.header-navigation.stricky-fixed ul.navigation-box > li {
  padding-top: 30px;
  padding-bottom: 30px;
}

/**************************
* 4. banner styles
***************************/
#minimal-bootstrap-carousel {
  margin-top: 50px;
  position: relative;
}

#minimal-bootstrap-carousel .carousel-caption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  text-align: right;
  text-shadow: none;
}
#minimal-bootstrap-carousel .carousel-caption:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

#minimal-bootstrap-carousel .carousel-caption .thm-container {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box {
  display: table-cell;
  text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-top {
  vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-bottom {
  vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box.valign-middle {
  vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .thm-container .box .content {
  display: block;
}

#minimal-bootstrap-carousel .carousel-control {
  background: none;
  width: 70px;
  height: 70px;
  font-size: 20px;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  visibility: visible !important;
  opacity: 1;
  margin-top: -20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 50%;
  z-index: 99;
}
@media (max-width: 667px) {
  #minimal-bootstrap-carousel .carousel-control {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
  }
}

#minimal-bootstrap-carousel .carousel-control.left {
  left: 1%;
}

#minimal-bootstrap-carousel .carousel-control.right {
  right: 1%;
}

#minimal-bootstrap-carousel .carousel-control:hover {
  opacity: 1;
  background: #000;
}

/* processing for fadeing effect styles */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/* fixing slider height */
#minimal-bootstrap-carousel .custom-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
  margin: 0;
}
#minimal-bootstrap-carousel .custom-navigation, #minimal-bootstrap-carousel .custom-navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#minimal-bootstrap-carousel .custom-navigation li {
  border: 0;
  border-radius: 0;
  text-indent: 0;
  width: 110px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
#minimal-bootstrap-carousel .custom-navigation li.active {
  background: #003893;
}
#minimal-bootstrap-carousel .custom-navigation li.active i {
  color: #fff;
}
#minimal-bootstrap-carousel .custom-navigation li i {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 100px;
}

#minimal-bootstrap-carousel.slider-home-one .carousel-inner .item {
  min-height: 700px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #242A34;
}

.slider-home-one .content {
  text-align: center;
  position: relative;
  z-index: 999;
}
.slider-home-one .content h2,
.slider-home-one .content p {
  margin: 0;
}
.slider-home-one .content h2 {
  color: #fff;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  font-family: 'Merriweather';
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.slider-home-one .content p {
  color: #CFCFCF;
  margin-top: 20px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/**************************
* 5. about styles
***************************/
.about-section {
  padding-top: 120px;
}
.about-section .video-box {
  position: relative;
  display: inline-block;
  margin-bottom: -40px;
}
.about-section .video-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 56, 147, 0.7);
}
.about-section .video-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.about-section .video-box .overlay .box a.video-btn {
  width: 70px;
  height: 70px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  line-height: 66px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  position: absolute;
  top: 70px;
  left: 70px;
  border-radius: 50%;
}
.about-section .video-box .overlay .box .bottom-box {
  position: absolute;
  bottom: 75px;
  left: 70px;
}
.about-section .video-box .overlay .box .bottom-box h3 {
  font-size: 150px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.about-section .video-box .overlay .box .bottom-box p {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
}
.about-section .about-content {
  padding-top: 50px;
  padding-left: 25px;
}
.about-section .about-content h3 {
  margin: 0;
  color: #0E0F1F;
  font-family: 'Merriweather';
  font-weight: bold;
  letter-spacing: -0.03em;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 40px;
}
.about-section .about-content p {
  margin: 0;
  color: #616277;
}
.about-section .about-content p + p {
  margin-top: 25px;
}

/**************************
* 6. services styles
***************************/
.service-section {
  background: #0E0F1F;
  padding: 120px 0;
}
.service-section .service-column {
  padding: 60px 0;
  position: relative;
}
.service-section .service-column img.service-featured-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .service-section .service-column {
    padding: 0;
  }
  .service-section .service-column img.service-featured-img {
    display: none;
  }
}
.service-section .single-service + .single-service {
  margin-top: 50px;
}
.service-section .single-service .icon-box {
  width: 64px;
}
.service-section .single-service .icon-box i {
  color: #003893;
  font-size: 64px;
  line-height: 1;
}
.service-section .single-service .text-box {
  width: calc( 100% - 64px);
}
.service-section .single-service .text-box h3 {
  margin: 0;
  color: #fff;
  font-family: 'Merriweather';
  font-size: 26px;
  font-weight: bold;
}
.service-section .single-service .text-box p {
  margin: 0;
  color: #9696A6;
  font-size: 14px;
  margin-top: 15px;
}
.service-section .service-left {
  padding-right: 20px;
}
.service-section .service-left .single-service .icon-box {
  float: right;
}
.service-section .service-left .single-service .text-box {
  float: left;
  padding-right: 30px;
  text-align: right;
}
.service-section .service-right {
  padding-left: 20px;
}
.service-section .service-right .single-service .icon-box {
  float: left;
}
.service-section .service-right .single-service .text-box {
  float: right;
  padding-left: 30px;
  text-align: left;
}

/**************************
* 7. fun fact styles
***************************/
.fun-fact-section {
  padding: 120px 0;
}
.fun-fact-section .contact-agent {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.fun-fact-section .contact-agent .img-box {
  position: relative;
}
.fun-fact-section .contact-agent .img-box img {
  position: relative;
  z-index: 1;
}
.fun-fact-section .contact-agent .img-box:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 3;
  background: rgba(6, 24, 41, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6, 24, 41, 0)), color-stop(100%, white));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 24, 41, 0)), to(white));
  background: linear-gradient(to bottom, rgba(6, 24, 41, 0) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061829', endColorstr='#ffffff', GradientType=0 );
}
.fun-fact-section .contact-agent p {
  color: #616277;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  margin-top: -40px;
  position: relative;
  z-index: 9;
}
.fun-fact-section .contact-agent h3 {
  margin: 0;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 24px;
  color: #003893;
  margin-top: 20px;
}
.fun-fact-section .contact-agent span.position {
  color: #5A6876;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 11px;
}
.fun-fact-section .fun-fact-wrap {
  padding-top: 40px;
}
.fun-fact-section .fun-fact-wrap h2 {
  margin: 0;
  color: #0E0F1F;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-bottom: 55px;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact {
  position: relative;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact + .single-fun-fact {
  margin-top: 50px;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box, .fun-fact-section .fun-fact-wrap .single-fun-fact .text-box {
  display: table-cell;
  vertical-align: middle;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box {
  position: absolute;
  top: 10px;
  left: 0;
  width: 70px;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box i {
  color: #003893;
  font-size: 70px;
  line-height: 1;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .text-box {
  padding-left: 100px;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .text-box h3 {
  margin: 0;
  color: #0e0f1f;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -0.03em;
}
.fun-fact-section .fun-fact-wrap .single-fun-fact .text-box p {
  margin: 0;
  color: #616277;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
}
@media (max-width: 823px) {
  .fun-fact-section .fun-fact-wrap .single-fun-fact .icon-box {
    position: static;
  }
  .fun-fact-section .fun-fact-wrap .single-fun-fact .text-box {
    padding-left: 30px;
  }
}

/**************************
* 8. mission and vision styles
***************************/
.mission-and-vision {
  background: #0E0F1F;
  padding-top: 120px;
  padding-bottom: 120px;
}
.mission-and-vision .mission-content {
  padding-right: 30px;
}
.mission-and-vision .mission-content h3 {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.03em;
}
.mission-and-vision .mission-content p {
  color: #9696A6;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}
.mission-and-vision .mission-content a.thm-btn {
  display: inline-block;
  border: none;
  outline: none;
  background: #003893;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  padding: 11px 46.5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 2px solid #003893;
}
.mission-and-vision .mission-content a.thm-btn:hover {
  background: #0E0F1F;
  border-color: #0E0F1F;
}
.mission-and-vision .mission-content a.thm-btn.borderd {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: transparent;
  color: #8C8D9B;
  margin-left: 20px;
}
.mission-and-vision .mission-content a.thm-btn.borderd:hover {
  background-color: #003893;
  border-color: #003893;
  color: #fff;
}
.mission-and-vision .single-progress-bar-wrap {
  width: 65px;
  float: left;
  height: 344px;
  position: relative;
}
.mission-and-vision .single-progress-bar-wrap:nth-child(2) .single-progress-bar .inner {
  background: #D8023E;
}
.mission-and-vision .single-progress-bar-wrap:nth-child(3) .single-progress-bar .inner {
  background: #DF9300;
}
.mission-and-vision .single-progress-bar-wrap:nth-child(4) .single-progress-bar .inner {
  background: #0039AD;
}
.mission-and-vision .single-progress-bar-wrap:nth-child(5) .single-progress-bar .inner {
  background: #00C2C4;
}
.mission-and-vision .single-progress-bar-wrap + .single-progress-bar-wrap {
  margin-left: 30px;
}
.mission-and-vision .single-progress-bar {
  position: absolute;
  height: 65px;
  width: 344px;
  background: #1D1E35;
  position: relative;
  padding: 22.5px 0;
  padding-left: 30px;
  -webkit-transform: translateY(140px) translateX(-140px) rotate(-90deg);
          transform: translateY(140px) translateX(-140px) rotate(-90deg);
  overflow: hidden;
}
.mission-and-vision .single-progress-bar h4 {
  color: #fff;
  font-weight: bold;
  font-family: 'Merriweather';
  font-size: 14px;
  margin: 0;
  position: relative;
  z-index: 9;
}
.mission-and-vision .single-progress-bar .inner {
  background: #003893;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  visibility: hidden;
  /*if you want to remove reveal animation then remove this css*/
}

/**************************
* 9. photo gallery styles
***************************/
.photo-gallery {
  padding-top: 120px;
  padding-bottom: 90px;
}
.photo-gallery .masonary-layout [class*='col-md'] {
  margin-bottom: 30px;
}
.photo-gallery .single-gallery {
  position: relative;
  overflow: hidden;
}
.photo-gallery .single-gallery > img {
  width: 100%;
}
.photo-gallery .single-gallery .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
  background: rgba(0, 56, 147, 0.5);
  border-radius: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.photo-gallery .single-gallery .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.photo-gallery .single-gallery .overlay .box .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.photo-gallery .single-gallery .overlay .box .content a {
  width: 40px;
  height: 40px;
  background: #0E0F1F;
  color: #fff;
  border-radius: 50%;
  line-height: 40px;
}
.photo-gallery .single-gallery:hover .overlay {
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}

/**************************
* 10. brand styles
***************************/
.brand-section {
  background: #0E0F1F url(../img/brand-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  padding: 75px 0;
}
.brand-section:before {
  content: '';
  background: rgba(14, 15, 31, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.brand-section .brand-carousel {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.brand-section .brand-carousel i {
  color: #9D96A3;
  font-size: 90px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
}
.brand-section .brand-carousel i:hover {
  color: #fff;
}

/**************************
* 11. become investor styles
***************************/
.become-investor {
  padding: 120px 0;
}
.become-investor .contact-form input, .become-investor .contact-form textarea {
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  border-radius: 4px;
  font-family: 'Merriweather';
  color: #78798B;
  margin-bottom: 30px;
}
.become-investor .contact-form input::-webkit-input-placeholder, .become-investor .contact-form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #78798B;
}
.become-investor .contact-form input::-moz-placeholder, .become-investor .contact-form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #78798B;
}
.become-investor .contact-form input:-ms-input-placeholder, .become-investor .contact-form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #78798B;
}
.become-investor .contact-form input:-moz-placeholder, .become-investor .contact-form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #78798B;
}
.become-investor .contact-form input.error, .become-investor .contact-form textarea.error {
  background: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.2);
}
.become-investor .contact-form label.error {
  display: none !important;
}
.become-investor .contact-form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
.become-investor .contact-form .bootstrap-select > .dropdown-toggle {
  padding: 0;
}
.become-investor .contact-form .bootstrap-select > .btn {
  padding: 0;
  height: 100%;
  padding: 0 30px;
  color: #78798B;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: transparent !important;
  font-size: 14px;
  outline: none !important;
  padding-right: 30px;
  font-family: 'Merriweather';
  border-radius: 4px;
}
.become-investor .contact-form .bootstrap-select.btn-group .dropdown-toggle .caret {
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  border: none;
  margin-left: -5px;
}
.become-investor .contact-form .bootstrap-select.btn-group .dropdown-toggle .caret:before {
  color: #A5A6B5;
  content: "\f107";
  font-family: FontAwesome;
}
.become-investor .contact-form .bootstrap-select.btn-group .dropdown-menu.inner {
  width: 200px;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu {
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu > li {
  padding: 0;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu > li > a {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu > li > a span {
  color: #78798B;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu > li > a:hover {
  background: #003893;
}
.become-investor .contact-form .bootstrap-select .dropdown-menu > li > a:hover span {
  color: #fff;
}
.become-investor .contact-form textarea {
  height: 260px;
  text-align: left;
  padding-top: 15px;
}
.become-investor .contact-form button[type='submit'] {
  border: none;
  outline: none;
  background: #003893;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  padding: 13px 49.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.become-investor .contact-form button[type='submit']:hover {
  background: #0E0F1F;
}

/**************************
* 12. team styles
***************************/
.team-title-section {
  background: #0E0F1F;
  padding-bottom: 230px;
  padding-top: 120px;
  margin-bottom: -150px;
}
.team-title-section .sec-title {
  margin-bottom: 0;
}

.team-memeber-section {
  padding-bottom: 105px;
}
.team-memeber-section .single-team-member .img-box {
  position: relative;
  overflow: hidden;
}
.team-memeber-section .single-team-member .img-box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
          transform: translate3d(0, 50%, 0);
  background: rgba(0, 56, 147, 0.5);
  border-radius: 5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.team-memeber-section .single-team-member .img-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.team-memeber-section .single-team-member .img-box .overlay .box .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.team-memeber-section .single-team-member .img-box .overlay .box .content a {
  width: 35px;
  height: 35px;
  background: #0E0F1F;
  color: #fff;
  border-radius: 50%;
  line-height: 35px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.team-memeber-section .single-team-member .img-box .overlay .box .content a:hover {
  background: #003893;
}
.team-memeber-section .single-team-member .img-box .overlay .box .content a + a {
  margin-left: 15px;
}
.team-memeber-section .single-team-member:hover .img-box .overlay {
  opacity: 1;
  -webkit-transform: translate3d(0, 0%, 0);
          transform: translate3d(0, 0%, 0);
}
.team-memeber-section .single-team-member .text-box {
  text-align: center;
}
.team-memeber-section .single-team-member .text-box h3, .team-memeber-section .single-team-member .text-box p {
  margin: 0;
}
.team-memeber-section .single-team-member .text-box h3 {
  font-family: 'Merriweather';
  font-weight: bold;
  color: #131222;
  letter-spacing: -.03em;
  font-size: 22px;
  margin-top: 38px;
  margin-bottom: 5px;
}
.team-memeber-section .single-team-member .text-box p {
  color: #5A6876;
  font-weight: bold;
  text-transform: uppercase;
}
.team-memeber-section .owl-theme .owl-nav [class*=owl-] {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #18192F;
  color: #9696A6;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.team-memeber-section .owl-theme .owl-nav [class*=owl-]:hover {
  background: #003893;
  color: #fff;
}
.team-memeber-section .owl-theme .owl-nav [class*=owl-] + [class*=owl-] {
  margin-left: 20px;
}
.team-memeber-section .owl-theme .owl-nav {
  margin-top: 0;
}
.team-memeber-section .owl-theme .owl-dots {
  margin-top: 35px;
}
.team-memeber-section .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #DBDBDB;
}
.team-memeber-section .owl-theme .owl-dots .owl-dot.active span {
  background: #003893;
}

/**************************
* 13. testimonials styles
***************************/
.testimonials-section {
  background: #0E0F1F;
  padding: 120px 0;
}
.testimonials-section .single-testimonial {
  background: #121324;
  text-align: center;
  padding: 39px 47px;
}
.testimonials-section .single-testimonial .ratings {
  margin-bottom: 30px;
}
.testimonials-section .single-testimonial .ratings i {
  color: #F6D600;
  font-size: 16px;
}
.testimonials-section .single-testimonial .ratings i + i {
  margin-left: 7px;
}
.testimonials-section .single-testimonial p {
  color: #8E90A7;
  font-family: 'Merriweather';
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
.testimonials-section .single-testimonial .name-box {
  margin-top: 40px;
}
.testimonials-section .single-testimonial .name-box .img-box, .testimonials-section .single-testimonial .name-box .text-box {
  display: inline-block;
  vertical-align: middle;
}
.testimonials-section .single-testimonial .name-box .text-box {
  padding-left: 20px;
  text-align: left;
}
.testimonials-section .single-testimonial .name-box .text-box h3 {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -.03em;
}
.testimonials-section .single-testimonial .name-box .text-box span {
  color: #76778B;
  font-size: 13px;
}
.testimonials-section .owl-theme .owl-nav [class*=owl-] {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #18192F;
  color: #9696A6;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}
.testimonials-section .owl-theme .owl-nav [class*=owl-]:hover {
  background: #003893;
  color: #fff;
}
.testimonials-section .owl-theme .owl-nav [class*=owl-] + [class*=owl-] {
  margin-left: 20px;
}
.testimonials-section .owl-theme .owl-nav {
  margin-top: 0;
}
.testimonials-section .owl-theme .owl-dots {
  margin-top: 35px;
}
.testimonials-section .owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #18192F;
}
.testimonials-section .owl-theme .owl-dots .owl-dot.active span {
  background: #003893;
}

/**************************
* 14. cta styles
***************************/
.cta-style-one {
  background: #003893;
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
  z-index: 10;
}
.cta-style-one h3 {
  margin: 0;
  color: #fff;
  font-family: 'Merriweather';
  font-weight: bold;
  letter-spacing: -0.03em;
  line-height: 60px;
  font-size: 50px;
}
.cta-style-one .cta-btn-wrap {
  padding: 35px 0;
}
.cta-style-one a.cta-btn {
  background: #0E0F1F;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
  display: inline-block;
  text-transform: uppercase;
  padding: 13px 54.5px;
}

/**************************
* 15. subscribe styles
***************************/
.subscribe-section {
  background: #0E0F1F;
  padding: 100px 0;
}
.subscribe-section .form-wrap form {
  width: 100%;
  position: relative;
  min-width: 730px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}
.subscribe-section .form-wrap form input {
  width: 100%;
  height: 58px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #9696A6;
  font-size: 14px;
  padding-left: 38px;
  font-family: 'Merriweather';
}
.subscribe-section .form-wrap form button[type='submit'] {
  border: none;
  outline: none;
  background: #003893;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 18px 53.5px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  position: absolute;
  top: -1px;
  right: -1px;
}
.subscribe-section .form-wrap form button[type='submit']:hover {
  background: #0E0F1F;
  color: #fff;
}
.subscribe-section .social-box {
  padding: 5px 0;
}
.subscribe-section .social-box a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #18192F;
  color: #9696A6;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
}
.subscribe-section .social-box a:hover {
  background: #003893;
  color: #fff;
}
.subscribe-section .social-box a + a {
  margin-left: 10px;
}

/**************************
* 16. footer styles
***************************/
footer.footer {
  background: #0E0F1F;
  text-align: center;
}
footer.footer .thm-container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1110px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 80px;
  padding-bottom: 80px;
}
footer.footer .thm-container p, footer.footer .thm-container ul, footer.footer .thm-container li {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer .thm-container p {
  color: #9696A6;
  margin-top: 30px;
}
footer.footer .thm-container ul.list-inline {
  margin-top: 30px;
}
footer.footer .thm-container ul.list-inline li {
  color: #9696A6;
}
footer.footer .thm-container ul.list-inline li i {
  margin-right: 10px;
}
footer.footer .thm-container ul.list-inline li + li {
  margin-left: 50px;
}

.footer-bottom {
  background: #0B0C1C;
}
.footer-bottom .left-copy {
  padding: 23px 0;
}
.footer-bottom .left-copy p {
  margin: 0;
  color: #9293A1;
  font-family: 'Merriweather';
  font-size: 14px;
  letter-spacing: -0.03em;
}
.footer-bottom .left-copy p a {
  color: #9293A1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.footer-bottom .left-copy p a:hover {
  color: #003893;
}
.footer-bottom .right-stt .scroll-to-top {
  width: 70px;
  height: 70px;
  background: #003893;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  color: #fff;
  font-size: 16px;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.footer-bottom .right-stt .scroll-to-top:hover {
  background: #0E0F1F;
}

#contact-google-map {
  height: 500px;
}